@model LotteryStatsMVCApp.Models.ViewModels.GameStatsViewModel

@{
    ViewData["Title"] = "Game Stats";

    List<BallModel> freqMainBall = Model.MainBallStats.OrderByDescending(x => x.Frequency).ToList();
    List<BallModel> freqBonusBall = Model.BonusBallStats.OrderByDescending(x => x.Frequency).ToList();

    List<BallModel> absentMainBall = Model.MainBallStats.OrderByDescending(x => x.Absence).ToList();
    List<BallModel> absentBonusBall = Model.BonusBallStats.OrderByDescending(x => x.Absence).ToList();
}

<h1>@Model.GameName</h1>

<h2>Common</h2>
<h3>Main Balls</h3>
<p>@freqMainBall[0].Number.ToString() with frequency: @freqMainBall[0].Frequency.ToString()</p>
<p>@freqMainBall[1].Number.ToString() with frequency: @freqMainBall[1].Frequency.ToString()</p>
<p>@freqMainBall[2].Number.ToString() with frequency: @freqMainBall[2].Frequency.ToString()</p>
<p>@freqMainBall[3].Number.ToString() with frequency: @freqMainBall[3].Frequency.ToString()</p>
<p>@freqMainBall[4].Number.ToString() with frequency: @freqMainBall[4].Frequency.ToString()</p>

<h3>Bonus Balls</h3>
<p>@freqBonusBall[0].Number.ToString() with frequency: @freqBonusBall[0].Frequency.ToString()</p>
<p>@freqBonusBall[1].Number.ToString() with frequency: @freqBonusBall[1].Frequency.ToString()</p>

<h2>Absent</h2>
<h3>Main Balls</h3>
<p>@absentMainBall[0].Number.ToString() with frequency: @absentMainBall[0].Absence.ToString()</p>
<p>@absentMainBall[1].Number.ToString() with frequency: @absentMainBall[1].Absence.ToString()</p>
<p>@absentMainBall[2].Number.ToString() with frequency: @absentMainBall[2].Absence.ToString()</p>
<p>@absentMainBall[3].Number.ToString() with frequency: @absentMainBall[3].Absence.ToString()</p>
<p>@absentMainBall[4].Number.ToString() with frequency: @absentMainBall[4].Absence.ToString()</p>

<h3>Bonus Balls</h3>
<p>@absentBonusBall[0].Number.ToString() with frequency: @absentBonusBall[0].Absence.ToString()</p>
<p>@absentBonusBall[1].Number.ToString() with frequency: @absentBonusBall[1].Absence.ToString()</p>