@using LotteryStatsMVCApp.Models.Enums
@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 mb-2">
    <h1 class="display-4">Lottery Stats</h1>
    <p>Lottery Stats is an app which demonstrates retrieving online <a href="https://www.national-lottery.co.uk/" target="_blank">National Lottery</a> draw data (csv format), storing the data in a PostgreSQL database, and calculating statistics from the data.</p>
</div>
<div class="d-grid gap-2 col-md-4 mt-4">
    <h3>View Draw Stats</h3>
    <a asp-controller="Home" asp-action="GameStats" asp-route-game="@nameof(Games.Euromillions)" class="btn btn-primary">Euromillions</a>
    <a asp-controller="Home" asp-action="GameStats" asp-route-game="@nameof(Games.EuromillionsHotpicks)" class="btn btn-primary">Euromillions Hotpicks</a>
    <a asp-controller="Home" asp-action="GameStats" asp-route-game="@nameof(Games.Lotto)" class="btn btn-primary">Lotto</a>
    <a asp-controller="Home" asp-action="GameStats" asp-route-game="@nameof(Games.LottoHotpicks)" class="btn btn-primary">Lotto Hotpicks</a>
    <a asp-controller="Home" asp-action="GameStats" asp-route-game="@nameof(Games.SetForLife)" class="btn btn-primary">Set for Life</a>
    <a asp-controller="Home" asp-action="GameStats" asp-route-game="@nameof(Games.Thunderball)" class="btn btn-primary">Thunderball</a>
</div>
